@model Rest.Models.Document
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width , initial-scale=1" />

    <meta name="Rest" content="" />
    <meta name="author" content="it-program" />

    <link rel="icon" href="#" />

    <!--BOOTSTRAP-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-support-ie10-width.css" rel="stylesheet" />

    <!--STYLES-->
    <link href="~/Content/Styles.less" rel="stylesheet" />

    <title>Prototip</title>
</head>
<body>
        <div id="#head" class="container-background">
            <nav class="navbar navbar-fixed-top navbar-color">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                
                </div>
                <div id="navbar" class="navbar-collapse collapse container">                   
                        <ul class="nav navbar-nav center-top">
                            <li><img src="~/Images/Icon/rest-stramber_zelena1.png" class="center-lr" /></li>
                            <li class="active">@Html.ActionLink("Domů", "Index", "Home", new { @class = "bold" })</li>
                            <li class="active">@Html.ActionLink("Galerie", "Galery", "Home", new { @class = "bold" })</li>
                            <li class="active">@Html.ActionLink("Kontakt", "Contact", "Home", new { @class = "bold" })</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="center-top">@Html.ActionLink("Login", "Index", "Login", new { @class = "center-top" })</li>
                        </ul>
                    </div>
                </nav>
             </div>
    <div class="container">
        <div class="col-sm-8 blog-main">
            <div class="blog-header">
                @RenderBody()
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4 class=" font-bety center-top">Týdení menu</h4>
                <iframe class="frame"></iframe>
            </div>

            <div class="sidebar-module">
                <h4 class="font-bety">Jídelní lístek</h4>
                <iframe class="frame"></iframe>
            </div>
        </div>
        <footer class="foot">
            <p class="pull-right">

                <a href="#head">
                    <img src="~/Images/Others/nahoru1.png" />
                </a>

            </p>
            <p>
                @DateTime.Now.Date.ToShortDateString() &middot; @Html.ActionLink("Domů", "Index", "Home", new { @class = "font-color" }) &middot; @Html.ActionLink("Galerie", "Galerie", "Home", new { @class = "font-color" }) &middot; @Html.ActionLink("Kontakt", "Contact", "Home", new { @class = "font-color" })
            </p>
            <table class="table-responsive">
                <tr>
                    <th></th>
                    <th>
                        <img src="~/Images/Icon/rest-stramber_zelena1.png" />
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th>@Model.Adress</th>
                </tr>
                <tr>
                    <th></th>
                    <th>@Model.PostCode @Model.City</th>
                </tr>
                <tr>
                    <th></th>
                    <th>@Model.Company </th>
                </tr>
                <tr>
                    <th></th>
                    <th>@Model.Phone</th>
                </tr>
                <tr>
                    <th></th>
                    <th>@Model.Email</th>
                </tr>
            </table>
        </footer>      
    </div>

    
    <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~Scripts/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap-support-ie10-width.js"></script>
 
</body>
</html>